header {
    background-color: var(--color-primary);
    height: 60px;
    display: flex;
    align-items: center;

}

.dsflight-nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;

}

.dsflight-nav-content h1 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
}

.dsflight-contact-container{
    display: flex;
    align-items: center;
}

.dsfligth-contact-link {
    margin: 0 0 0 10px;
    font-size: 12px;
}

.dsfligth-contact-link_fake {
    margin: 0 0 0 10px;
    font-size: 12px;
}